##########
# Penpot #
##########

# Having in this location doesn't seem to be working properly so they are mounted as volumes instead
# PENPOT_ASSETS_LOCATION=../.docker-data/penpot-server/assets
# PENPOT_DB_LOCATION=../.docker-data/penpot-server/db

PENPOT_URI=http://localhost:9001
PENPOT_SECRET_KEY=change-this-insecure-key
PENPOT_SMTP_DEFAULT_MAIL=no-reply@example.com

PENPOT_DB_PWD=penpot

PENPOT_OIDC_CLIENT_ID=
PENPOT_OIDC_BASE_URI=
PENPOT_OIDC_CLIENT_SECRET=

TZ=Etc/UTC
PUID=1000
PGID=1000
